.gridContainer {
  display: grid;
  width: 500px;
  height: 500px;
}

@media screen and (max-width: 400px) {
  .gridContainer {
    width: 300px;
    height: 300px;
  }
}

.gridBox {
  background-color: aliceblue;
  border: 0px solid black;
  height: 1fr;
  width: 1fr;
}

.gridBox:hover {
  background-color: rgb(57, 108, 212);
}

.paintedGrid {
  background-color: rgb(21, 20, 21);
}